* {
    font-family: 'Roboto Mono', monospace;
}

body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #64b5ae;
}

.iconButton {
    background-image: url('../blank-check-box.png');
    width: 10%;
    height: 10%;
}

h2 {
    color: #64b5ae;
    font-size: 2rem;
    margin: 0;
}

.section {
    background-color: whitesmoke;
    padding: 20px;
    display: inline-block;
    margin: 15px 100px;
    border-radius: 7px;
}

ul {
    display: inline-block;
    margin: auto;
}

li {
    display: flex;
    align-items: center;
}

li p {
    padding-left: 10px;
}
footer {
    font-size: 0.8rem;
    position: fixed;
    bottom: 4px;
    left: 70px;
}

footer div {
    text-align: left;
}

footer a {
    text-decoration: none;
}